div {
  --background-search: #f2f2f2;
  --corporate-color: #d56ed7;
  --text-and-background: #fff;
  --text-and-border: #434343;
}
/* var(--text-and-border) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

header {
  max-width: 1200px;
  margin: 0 auto;
}
.me-3 {
  margin-right: 0 !important;
}
div {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
footer {
  max-width: 1200px;
  margin: 0 auto;
}

div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"),
    url("./fonts/SF-Pro-Display-Regular.woff") format("woff"),
    url("./fonts/SF-Pro-Display-Regular.ttf") format("ttf"),
    url("./fonts/SF-Pro-Display-Regular.otf") format("otf"),
    url("./fonts/SF-Pro-Display-Regular.eot") format("eot");
}
.container {
  max-width: 1200px;
}
.wrapperContent {
  margin: 0 auto;
  padding-bottom: 15px;
  background: var(--unnamed, #fcfcfc);
}
body {
  margin: 0 auto;
}
.wrapperFooter {
  background: var(--unnamed, var(--background-search));
}
button {
  background: none;
  border: none;
  padding: 0;
}
.button {
  display: flex;
  width: 140px;
  height: 44px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--corporate-color);

  color: var(--unnamed, var(--text-and-background));
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
  align-items: center;
}
.navMenu a {
  display: flex;
  color: #9b9b9b;
}
.navContacts {
  margin-right: 241px;
}

.locationImg img {
  margin-right: 10px;
}
.locationPhone img,
.locationStatus img {
  margin-right: 5px;
}
.locationVector img {
  margin-left: 10px;
}

.headerBottom {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 9px 0;
}
.logo {
  width: 231px;
  height: 53px;
  background: url("./public/images/logo.svg") center center/cover no-repeat;
  cursor: pointer;
}
@media (min-width: 767px) {
  .logoMini,
  .menuHamburger,
  .cityMobile,
  .phoneMobile,
  .footerMobile {
    display: none;
  }
}

.search {
  display: flex;
  width: 380px;
  height: 44px;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--unnamed, var(--background-search));

  color: var(--unnamed, #9b9b9b);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.searchInput {
  border: none;
  background-color: #f2f2f2;
}
.searchInput:focus {
  outline: none;
}

.delivery-time {
  position: relative;
  max-width: 178px;
  display: inline-flex;
  height: 44px;
  padding: 3px 15px 3px 10px;
  align-items: center;
  gap: 9px;
  flex-shrink: 0;
  color: #9b9b9b;
  border-radius: 8px;
  background: var(--unnamed, #f2f2f2);

  color: var(--unnamed, #9b9b9b);
  font-family: SF Pro Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.delivery-timeVector {
  position: absolute;
  right: 10px;
  top: 10px;
}
.icon-basket,
.icon-heart,
.icon-user {
  display: flex;
  width: 60px;
  height: 44px;
  padding: 0px 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;

  border-radius: 8px;
  background: var(--unnamed, var(--text-and-background));
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.crumbs {
  color: var(--unnamed, #9b9b9b);
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.crumbs img {
  margin: 0 12px;
}

.headerCatalog {
  color: var(--unnamed, var(--text-and-border));
  font-family: SF Pro Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* margin-top: 20px; */
}

.menuCatalog {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  position: relative;
  min-height: 650px;
  padding: 52px 43px 43px 43px;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fafafa;
  margin-top: 20px;
}
.buttonLeftMenuImg {
  position: absolute;
  width: 10px;
  height: 10px;
  background: url("./public/images/vector-3.svg") center center/cover no-repeat;
  margin-top: 5px;
  margin-left: 130px;
}

.nav-link.active div {
  background: url("./public/images/vector-3-1.png") center center/cover
    no-repeat;
}
.buttonLeftMenu {
  width: 120px;
  display: flex;
  padding: 8px 5px;
  align-items: flex-start;
  gap: 10px;
  color: var(--unnamed, var(--text-and-border));
  font-family: SF Pro Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-link.active {
  background: none !important;
  color: var(--corporate-color) !important;
}
.nav-link:hover {
  color: var(--text-and-border);
}

.catalog {
  width: 950px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 14px;
  padding-left: 0;
  overflow-y: auto;
  margin-left: 60px;
}
.catalog a {
  color: black;
  font-family: SF Pro Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.decorative,
.blooming {
  display: block;
  width: 455px;
  height: 230px;
  border-radius: 20px;
  padding-left: 18px;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
}
.decorative span,
.blooming span {
  display: block;
  max-width: 221px;
  color: #313e0f;
  font-family: SF Pro Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.roses,
.tulips,
.lilies,
.peonies,
.irises,
.hydrangea,
.alstroemeria,
.lisianthus,
.gerberas,
.chrysanthemum,
.carnation,
.orchids,
.gypsophila,
.potted {
  display: block;
  width: 220px;
  height: 120px;
  border-radius: 20px;
  padding-left: 30px;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
}
.roses img,
.tulips img,
.lilies img,
.peonies img,
.irises img,
.hydrangea img,
.alstroemeria img,
.lisianthus img,
.gerberas img,
.chrysanthemum img,
.carnation img,
.orchids img,
.gypsophila img,
.potted img,
.decorative img,
.blooming img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.roses {
  background: var(--unnamed, #fdf0f0);
}

.tulips {
  background: var(--unnamed, #edf5d6);
}
.lilies {
  background: var(--unnamed, #fdf0f0);
}
.peonies {
  background: #f2f2f8;
}
.irises {
  background: var(--unnamed, #eeeefc);
}
.hydrangea {
  background: var(--unnamed, #fdf0f0);
}
.alstroemeria {
  background: var(--unnamed, #edf5d6);
}
.lisianthus {
  background: #feeed0;
}
.gerberas {
  background: #edf5d6;
}
.chrysanthemum {
  background: var(--unnamed, #feeed0);
}
.carnation {
  background: #eeeefc;
}
.orchids {
  background: #faecfa;
}
.gypsophila {
  background: #faecfa;
}
.potted {
  background: var(--unnamed, #f2f2f8);
}
.decorative {
  background: var(--unnamed, #edf5d6);
}
.blooming {
  background: #dcf8ec;
}

.stockHeader,
.historyHeader {
  color: var(--unnamed, var(--text-and-border));
  font-family: SF Pro Display;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.CardProduct {
  position: relative;
  width: 277px;
  height: 411px;
  border-radius: 19.715px;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 19.715px;
  background: var(--unnamed, var(--text-and-background));
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}
.hitMarker {
  display: inline-flex;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16.758px;
  background: #d90751;
  position: absolute;
  margin-top: 12px;
  margin-left: 15px;

  color: var(--unnamed, var(--text-and-background));
  text-align: center;
  font-family: SF Pro Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.heartMarker {
  position: absolute;
  right: 15px;
  margin-top: 12px;
}
.ratingSize {
  display: flex;
  gap: 90px;
}
.rating {
  display: flex;
  width: 65px;
  padding: 2px 15px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 13px;
  border: 1px solid var(--unnamed, var(--text-and-border));
  margin-left: 15px;
  margin-top: 10px;

  color: var(--unnamed, var(--text-and-border));
  text-align: center;
  font-family: SF Pro Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.size {
  display: flex;
  margin-right: 15px;
  padding: 2px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid var(--unnamed, var(--text-and-border));
  background: var(--unnamed, var(--text-and-background));
  margin-top: 10px;

  color: var(--unnamed, var(--text-and-border));
  text-align: center;
  font-family: SF Pro Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.description {
  color: var(--unnamed, #707070);
  font-family: SF Pro Display;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 15px;
  margin-top: 11px;
}
.price {
  color: var(--unnamed, var(--text-and-border));
  font-family: SF Pro Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin: 5px 0 0 15px;
}

.buttonCard {
  position: absolute;
  right: 14px;
  bottom: 12px;
}
.footer {
  position: relative;
  height: 716px;
  padding: 90px 0px 14px 0px;
}
.footer2 {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}
.HeaderFooter {
  height: 382px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.HeaderFooter p,
.HeaderFooter a {
  color: var(--unnamed, var(--text-and-border));
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.HeaderFooter–°ontacts {
  width: 374px;
}
.headerDelivery {
  display: flex;
  width: 189px;
  flex-shrink: 0;
  color: var(--unnamed, #9b9b9b);
  font-family: SF Pro Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.buttonShowAll {
  width: 170px;
  position: absolute;
  top: 498px;
}
.hr {
  position: absolute;
  width: 1200px;
  height: 1px;
  background: #9b9b9b;
  top: 597px;
}

.addressRequisites {
  width: 330px;
  color: var(--unnamed, #9b9b9b);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wrapperPhoneOfice {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  align-items: center;
}
.aroundClockOffice {
  max-width: 130px;
  display: flex;
  padding: 4px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid var(--text-and-border);

  color: var(--text-and-border);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.ratingYandex {
  padding: 15px 31px 14px 16px;
  width: 309px;
  height: 103px;
  border-radius: 10px;
  background: var(--text-and-background);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  color: var(--unnamed, var(--text-and-border));
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.ratingYandexNumber {
  color: var(--000000, #000);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 29px 0 11px;
}

.rightsReserved {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}
.footerIconsBanks {
  display: flex;
  gap: 11px;
  margin-top: 15px;
  margin-left: 0;
}
.footerIconsSocialMedia {
  display: flex;
  gap: 20px;
  margin-bottom: 19px;
  margin-right: 0;
}
.wrapperIconMedia {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 11px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--text-and-background);
}

.info {
  display: flex;
  justify-content: space-between;
  color: var(--unnamed, #9b9b9b);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* --------------------------------------------------------- */
@media (max-width: 767px) {
  .buttonHeaderBottom,
  .logo,
  .mobileNone,
  .delivery-time,
  .icon-basket,
  .icon-heart,
  .icon-user,
  .footer,
  .city,
  .phone,
  .buttonLeftMenuImg {
    display: none;
  }
  body {
    padding: 44px 15px 9px 15px;
  }
  .wrapperContent {
    background: none;
  }
  .buttonLeftMenu {
    display: flex;
    padding: 8px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: var(--unnamed, var(--background-search));

    color: var(--unnamed, var(--text-and-border));
    font-family: SF Pro Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 10px;
  }

  .nav-link.active {
    border-radius: 10px !important;
    background: var(--unnamed, var(--corporate-color)) !important;
    color: var(--text-and-background) !important;
  }
  .nav-link:hover {
    color: var(--text-and-border);
  }

  .listMenuCatalog {
    display: inline !important;
    overflow-y: auto !important;
  }
  .tab-content {
    margin-top: 10px;
  }
  .navMenu a {
    color: var(--unnamed, var(--text-and-border));
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .navMenu a {
    padding-left: 0px !important;
  }
  .nav {
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow: -moz-scrollbars-none;
  }
  .nav::-webkit-scrollbar {
    width: 0;
  }
  .logoMini {
    width: 53px;
    height: 53px;
    background: url("./public/images/logoMini.svg") center center/cover
      no-repeat;
    cursor: pointer;
  }
  .search {
    width: 240px;
  }

  .crumbs,
  .headerCatalog {
    padding-left: 0 !important;
  }

  .headerBottom {
    align-items: center;
  }

  .catalog {
    max-width: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    margin-left: 0;
    margin-top: 10px;
  }

  .catalog::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .roses,
  .tulips,
  .lilies,
  .peonies,
  .irises,
  .hydrangea,
  .alstroemeria,
  .lisianthus,
  .gerberas,
  .chrysanthemum,
  .carnation,
  .orchids,
  .gypsophila,
  .potted {
    display: block;
    width: 165px;
    height: 105px;
    border-radius: 20px;
    padding-left: 30px;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
  }

  .decorative,
  .blooming {
    display: block;
    width: 340px;
    height: 170px;
    border-radius: 20px;
    padding-left: 18px;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
  }

  .roses img,
  .tulips img,
  .lilies img,
  .peonies img,
  .irises img,
  .hydrangea img,
  .alstroemeria img,
  .lisianthus img,
  .gerberas img,
  .chrysanthemum img,
  .carnation img,
  .orchids img,
  .gypsophila img,
  .potted img,
  .decorative img,
  .blooming img {
    position: absolute;
    width: 40%;
    bottom: 0px;
    right: 0px;
  }

  .headerCatalog {
    font-size: 24px;
  }

  .menuCatalog {
    background-color: var(--text-and-background);
    margin-top: 0;
    padding: 28px 0px 0px 0px;
  }
  .stockHeader,
  .historyHeader {
    text-align: center !important;
  }

  .ratingSize {
    display: flex;
    justify-content: space-between;
  }
  .price {
    margin: 15px 0 0 15px;
    font-size: 19px;
  }
  .buttonCard {
    width: 100px;
    height: 30px;
  }
  .footerMobile {
    padding-right: 10px;
  }

  .navFooterMobile {
    bottom: 0;
    align-items: flex-end;
    background: var(--text-and-background);
  }
  .navFooterMobile a {
    margin-top: 10px;
    color: var(--unnamed, #9b9b9b);
    font-family: SF Pro Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .navFooterMobile img {
    margin-bottom: 8px;
  }
  .allCatalog {
    display: none;
  }
  .wrapperFooter {
    background: none;
    padding-bottom: 65px;
  }
  .CubeCatalogGrey {
    width: 70px;
    height: 70px;
    background: url("./public/images/catalogactive.svg") center center/cover
      no-repeat;
  }
  .heartCatalogGrey {
    width: 70px;
    height: 70px;
    background: url("./public/images/Favorite2.svg") center center/cover
      no-repeat;
  }
  .basketCatalogGrey {
    width: 70px;
    height: 70px;
    background: url("./public/images/basket2.svg") center center/cover no-repeat;
  }
  .searchCatalogGrey {
    width: 70px;
    height: 70px;
    background: url("./public/images/Serch2.svg") center center/cover no-repeat;
  }
  .userCatalogGrey {
    width: 70px;
    height: 70px;
    background: url("./public/images/Client2.svg") center center/cover no-repeat;
  }
  .CubeCatalogGrey:active {
    width: 70px;
    height: 70px;
    background: url("./public/images/catalog3.svg") center center/cover
      no-repeat;
  }

  .heartCatalogGrey:active {
    width: 70px;
    height: 70px;
    background: url("./public/images/favorite2-1.svg") center center/cover
      no-repeat;
  }
  .basketCatalogGrey:active {
    width: 70px;
    height: 70px;
    background: url("./public/images/basket2-1.svg") center center/cover
      no-repeat;
  }
  .searchCatalogGrey:active {
    width: 70px;
    height: 70px;
    background: url("./public/images/serch2-1.svg") center center/cover
      no-repeat;
  }
  .userCatalogGrey:active {
    width: 70px;
    height: 70px;
    background: url("./public/images/client2-1.svg") center center/cover
      no-repeat;
  }
}
